h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 50px;
  font-family: 'Gambetta', serif;
  letter-spacing: -3px;
  font-variation-settings: "wght" 311;
  color: rgb(67, 76, 48);
  outline: none;
  text-align:center;
}

body {
  margin: 0px;
  padding: 0px;
  background: linear-gradient(135deg, #9affd8, #c296ff);
  background-size: cover;
  height: 100vh
}

main {
  margin-left: 20px;
  margin-right: 20px;
}

.date-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.date {
  display: flex;
  padding: 10px;
  height: 15px;
  border-radius: 10px;
  margin: 5px 500px;
  background-color: #f1f7f9bf;
  justify-content: center;
  align-items: center;
}

.dailyData-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dailyData {
  margin: 0px 50px 0px;
  padding: 20px;
  display: grid;
  justify-content: space-around;
  align-items: center;
  grid-template-columns: repeat(auto-fill, 500px);
  background-color: #f1f1f9bf;
  width: 1500px;
  border-radius: 10px;
}

.dailyData > div {
  margin-left: 90px; 
  align-items: center;
}

.navbar {
  margin-top: 40px;
}

.navbar ul{
  list-style-type: none;
  background-color: hsl(180, 33%, 24%);
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar a{
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}

.navbar a:hover{
  background-color: hsl(0, 0%, 10%);
  transition: 0.2s ease-in;

}

.navbar li{
  float: left;
}

table {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    width: 100px;
    border: 5px solid #dddddd00;
    text-align: center;
    padding: 4px;
  }

  th {
    background-color: rgba(5, 208, 208, 0);
  }
  tr {
    background-color: rgba(255, 255, 255, 0);
  }


/* INTRO PAGE */

.intro-container {
  border: 0px;
  border-radius: 10px;
  background-color: white;
  margin: 24px;
  height: 50vh;
  padding: 24px;
}


/* HOME PAGE */

.addroom-main {
  margin: 0px;
  padding: 0px;
  background: linear-gradient(135deg, #9affd8, #c296ff);
  background-size: cover;
  height: 100vh;
}
  
.addroom-container {
  margin: 0px 50px 0px;
  padding: 20px 50px;
  display: grid;
  justify-content: space-around;
  align-items: center;
  grid-template-columns: repeat(auto-fill, 300px);
}

.addroom-h2 {
  margin-top: 20px;
  margin-bottom: 24px;
  padding: 10px;
  font-size: 50px;
  font-family: 'Gambetta', serif;
  letter-spacing: -3px;
  font-variation-settings: "wght" 311;
  color: rgb(67, 76, 48);
  outline: none;
  text-align:left;
}

.search{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  margin: 0px 20px;
  background: #ffffff9c;
  border-radius: 30px;
  padding: 20px;
  height: 25px;
  justify-self: end;
  align-self: center;
}
#searchinput-button {
  border: none;
  flex: 1;
  outline: none;
  background: none;
  padding: 10px;
  font-weight: 14px;
  align-items: center;
  width: 15px;
}

.search-button {
  border: none;
  outline: none;
  padding: 10px 30px;
  background: rgba(168, 204, 213, 0.433);
  border-radius: 28px;
  font-size: 14px;
  cursor: pointer;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button img {
  max-width: 18px;
}

.search-button:hover {
  background: rgba(0, 0, 0, 0.17);
  font-size: 14px;
  transition: 400ms ease-in-out;
}  


.add-room {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  margin: 0px 20px;
  background: #ffffff9c;
  border-radius: 30px;
  padding: 20px;
  justify-self: center;
  align-self: center;
}

#addroominput-button {
  border: none;
  flex: 1;
  outline: none;
  width: 75px;
  background: none;
  padding: 10px;
  font-weight: 14px;
}

.addroom-button {
  border: none;
  outline: none;
  display: flex;
  justify-content:center;
  padding: 16px 50px;
  background: rgba(168, 204, 213, 0.433);
  border-radius: 15px;
  width: 75px;
  font-size: 14px;
  cursor: pointer;
}

.addroom-button:hover {
  background: rgba(0, 0, 0, 0.17);
  font-size: 14px;
  transition: 400ms ease-in-out;
}


.remove-room {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  margin: 0px 20px;
  background: #ffffff9c;
  border-radius: 30px;
  padding: 20px;
  height: 25px;
  justify-self: end;
  align-self: center;
}

#removeroominput-button {
  border: none;
  flex: 1;
  outline: none;
  background: none;
  padding: 10px;
  font-weight: 14px;
  align-items: center;
  width: 35px;
}

.removeroom-button {
  border: none;
  outline: none;
  padding: 10px 30px;
  background: rgba(168, 204, 213, 0.433);
  border-radius: 28px;
  font-size: 11px;
  cursor: pointer;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.removeroom-button:hover {
  background: rgba(0, 0, 0, 0.17);
  font-size: 11px;
  transition: 400ms ease-in-out;
}

.floor{
display: flex;
justify-content: center; 
align-items:first baseline; 
gap: 10px;
}

::-webkit-scrollbar {
  background: none;
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color:#c296ff;
  border-radius: 2px;
  height: 5px;
}

::-webkit-scrollbar-track {
  margin-block: 1.5em;
}

.first-floor {
  display: flex;
  justify-content: center;
width: 120px;
height: 700px;
overflow-y: scroll;
background: #fff;
padding: 0px 30px;
border-radius: 30px;
list-style: none;
cursor: pointer;
user-select: none;
}

.first-header {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px;
  padding: 0px 10px;
  font-size: large;
  color: #000000;
  background-color: #ffff;
}


.first-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0px;
  gap: 10px;
  font-size: large;
  list-style: none;
  cursor: pointer;
  user-select: none;
}


.second-floor {
  display: flex;
  justify-content: center;
width: 120px;
height: 700px;
overflow-y: scroll;
background: #fff;
padding: 0px 30px;
border-radius: 30px;
list-style: none;
cursor: pointer;
user-select: none;
}

.second-header {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px;
  padding: 0px 10px;
  font-size: large;
  color: #000000;
  background-color: #ffff;
}


.second-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0px;
  gap: 10px;
  font-size: large;
  list-style: none;
  cursor: pointer;
  user-select: none;
}


.third-floor {
  display: flex;
  justify-content: center;
width: 120px;
height: 700px;
overflow-y: scroll;
background: #ffffff;
padding: 0px 30px;
border-radius: 30px;
list-style: none;
cursor: pointer;
user-select: none;
  }
  
  .third-header {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    padding: 0px 10px;
    font-size: large;
    color: #000000;
    background-color: #ffff;
  }
  
  
  .third-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0px;
    gap: 10px;
    font-size: large;
    list-style: none;
    cursor: pointer;
    user-select: none;
  }
  

.fourth-floor {
  display: flex;
  justify-content: center;
    width: 120px;
    height: 700px;
    overflow-y: scroll;
    background: #fff;
    padding: 0px 30px;
    border-radius: 30px;
    list-style: none;
    cursor: pointer;
    user-select: none;
}
    
.fourth-header {
      position: absolute;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 0px;
      padding: 0px 10px;
      font-size: large;
      color: #000000;
      background-color: #ffff;
}
    
    
.fourth-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 60px 0px;
      gap: 10px;
      font-size: large;
      list-style: none;
      cursor: pointer;
      user-select: none;
}
    
      
/* LATE CHECKOUT PAGE */


.add-latecheckout {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  margin: 0px 20px;
  background: #ffffff9c;
  border-radius: 30px;
  padding: 20px;
  height: 25px;
  justify-self: end;
  align-self: center;
}

.latecheckout-main {
  margin: 0px;
  padding: 0px;
  background: linear-gradient(135deg, #9affd8, #c296ff);
  background-size: cover;
  height: 100vh;
}
  
.addlatecheckout-container {
  margin: 0px 100px 0px;
  padding: 20px;
  display: grid;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  grid-template-columns: repeat(auto-fill, 300px);
}

.latecheckout-h2 {
  margin-top: 20px;
  margin-bottom: 24px;
  padding: 10px;
  font-size: 50px;
  font-family: 'Gambetta', serif;
  letter-spacing: -3px;
  font-variation-settings: "wght" 311;
  color: rgb(67, 76, 48);
  outline: none;
  text-align: left;
}

#latecheckoutinput-button {
  border: none;
  flex: 1;
  outline: none;
  width: 75px;
  background: none;
  padding: 10px;
  font-weight: 14px;
}

#latecheckout-time {
  border: none;
  flex: 0.5;
  outline: none;
  background: none;
  padding: 10px 0px;
  font-weight: 14px;
  border-radius: 20px;
  align-items: center;
}

#latecheckout-time:hover {
  background: rgba(0, 0, 0, 0.17);
  transition: 400ms ease-in-out;

}

.latecheckout-button {
  border: none;
  outline: none;
  padding: 10px 30px;
  background: rgba(168, 204, 213, 0.433);
  border-radius: 28px;
  font-size: 14px;
  cursor: pointer;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.latecheckout-button:hover {
  background: rgba(0, 0, 0, 0.17);
  font-size: 14px;
  transition: 400ms ease-in-out;
}

.late-checkout{
display: flex;
justify-content: center; 
align-items: center; 
padding: 0px;
}

.latecheckout-list {
display: flex;
flex-direction: column;
justify-content: flex-start;
width: 200px;
height: 300px;
overflow-y: scroll;
background: #fff;
padding: 20px 30px; 
gap: 10px;
font-size: large;
border-radius: 30px;
list-style: none;
cursor: pointer;
user-select: none;
align-items: center;
}

.latecheckout-list li {
display: flex;
align-self: center;
justify-self: center;
gap: 10px;
padding: 0px;
}

.remove-latecheckout {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  margin: 0px 20px;
  background: #ffffff9c;
  border-radius: 30px;
  padding: 20px;
  height: 25px;
  justify-self: end;
  align-self: center;
}

#removelatecheckoutinput-button {
  border: none;
  flex: 1;
  outline: none;
  background: none;
  padding: 10px;
  font-weight: 14px;
  align-items: center;
  width: 35px;
}

.removelatecheckout-button {
  border: none;
  outline: none;
  padding: 10px 30px;
  background: rgba(168, 204, 213, 0.433);
  border-radius: 28px;
  font-size: 11px;
  cursor: pointer;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.removelatecheckout-button:hover {
  background: rgba(0, 0, 0, 0.17);
  font-size: 11px;
  transition: 400ms ease-in-out;
}


/* NEW STAYOVERS PAGE */

.add-newstayovers {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  margin: 0px 20px;
  background: #ffffff9c;
  border-radius: 30px;
  padding: 20px;
  height: 25px;
  justify-self: end;
  align-self: center;
}

.newstayovers-main {
  margin: 0px;
  padding: 0px;
  background: linear-gradient(135deg, #9affd8, #c296ff);
  background-size: cover;
  height: 100vh;
}
  
.addnewstayovers-container {
  margin: 0px 100px 0px;
  padding: 20px;
  display: grid;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  grid-template-columns: repeat(auto-fill, 300px);
}

.newstayovers-h2 {
  margin-top: 20px;
  margin-bottom: 24px;
  padding: 10px;
  font-size: 50px;
  font-family: 'Gambetta', serif;
  letter-spacing: -3px;
  font-variation-settings: "wght" 311;
  color: rgb(67, 76, 48);
  outline: none;
  text-align: left;
}

#newstayoversinput-button {
  border: none;
  flex: 1;
  outline: none;
  width: 75px;
  background: none;
  padding: 10px;
  font-weight: 14px;
}

.newstayovers-button {
  border: none;
  outline: none;
  padding: 10px 30px;
  background: rgba(168, 204, 213, 0.433);
  border-radius: 28px;
  font-size: 14px;
  cursor: pointer;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newstayovers-button:hover {
  background: rgba(0, 0, 0, 0.17);
  font-size: 14px;
  transition: 400ms ease-in-out;
}

.new-stayovers{
display: flex;
justify-content: center; 
align-items: center; 
padding: 0px;
}


.newstayovers-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 200px;
  height: 300px;
  overflow-y: scroll;
  background: #fff;
  padding: 20px 30px; 
  gap: 10px;
  font-size: large;
  border-radius: 30px;
  list-style: none;
  cursor: pointer;
  user-select: none;
  align-items: center;
}

.newstayovers-list li {
display: flex;
align-items: center;
gap: 10px;
position: relative;
font-weight: 600;
}

.newstayovers-list li::before {
content: '';
height: 28px;
width: 28px;
border-radius: 50%;
background-image: url(images/uncheck.png);
background-size: cover;
background-position: center;
}

li.newstayovers-checked {
font-weight: 100;
}

li.newstayovers-checked::before {
background-image: url(images/check.png);
}

.remove-newstayovers {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  margin: 0px 20px;
  background: #ffffff9c;
  border-radius: 30px;
  padding: 20px;
  height: 25px;
  justify-self: end;
  align-self: center;
}

#removenewstayoversinput-button {
  border: none;
  flex: 1;
  outline: none;
  background: none;
  padding: 10px;
  font-weight: 14px;
  align-items: center;
  width: 35px;
}

.removenewstayovers-button {
  border: none;
  outline: none;
  padding: 10px 30px;
  background: rgba(168, 204, 213, 0.433);
  border-radius: 28px;
  font-size: 11px;
  cursor: pointer;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.removenewstayovers-button:hover {
  background: rgba(0, 0, 0, 0.17);
  font-size: 11px;
  transition: 400ms ease-in-out;
}

/* NO SHOWS PAGE */



  .noshows-main {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(135deg, #9affd8, #c296ff);
    background-size: cover;
    height: 100vh;
  }
    
  .noshows-h2 {
    margin-top: 20px;
    margin-bottom: 24px;
    padding: 10px;
    font-size: 50px;
    font-family: 'Gambetta', serif;
    letter-spacing: -3px;
    font-variation-settings: "wght" 311;
    color: rgb(67, 76, 48);
    outline: none;
    text-align: left;
  }

.add-noshows {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  margin: 0px 20px;
  background: #ffffff9c;
  border-radius: 30px;
  padding: 20px;
  height: 25px;
  justify-self: end;
  align-self: center;
}

  .addnoshows-container {
    margin: 0px 100px 0px;
    padding: 20px;
    display: grid;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    grid-template-columns: repeat(auto-fill, 300px);
  }
  
  #noshowsinput-button {
    border: none;
    flex: 1;
    outline: none;
    width: 75px;
    background: none;
    padding: 10px;
    font-weight: 14px;
  }

  .noshows-button {
    border: none;
    outline: none;
    padding: 10px 30px;
    background: rgba(168, 204, 213, 0.433);
    border-radius: 28px;
    font-size: 14px;
    cursor: pointer;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .noshows-button:hover {
    background: rgba(0, 0, 0, 0.17);
    font-size: 14px;
    transition: 400ms ease-in-out;
  }

.no-shows {
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding: 0px;
}


.noshows-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 200px;
  height: 300px;
  overflow-y: scroll;
  background: #fff;
  padding: 20px 30px; 
  gap: 10px;
  font-size: large;
  border-radius: 30px;
  list-style: none;
  cursor: pointer;
  user-select: none;
  align-items: center;
}

.noshows-list li {
display: flex;
align-self: center;
justify-self: center;
gap: 10px;
padding: 0px;
}

.noshows-list li::before {
  content: '';
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(images/uncheck.png);
  background-size: cover;
  background-position: center;
}

li.noshows-checked {
  font-weight: 100;
}

li.noshows-checked::before {
  background-image: url(images/check.png);
}

.remove-noshows {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  margin: 0px 20px;
  background: #ffffff9c;
  border-radius: 30px;
  padding: 20px;
  height: 25px;
  justify-self: end;
  align-self: center;
}

#removenoshowsinput-button {
  border: none;
  flex: 1;
  outline: none;
  background: none;
  padding: 10px;
  font-weight: 14px;
  align-items: center;
  width: 35px;
}

.removenoshows-button {
  border: none;
  outline: none;
  padding: 10px 30px;
  background: rgba(168, 204, 213, 0.433);
  border-radius: 28px;
  font-size: 11px;
  cursor: pointer;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.removenoshows-button:hover {
  background: rgba(0, 0, 0, 0.17);
  font-size: 11px;
  transition: 400ms ease-in-out;
}

/* NOTES PAGE */

  .notes-main {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(135deg, #bcff9a, #96c0ff);
    background-size: cover;
    height: 100vh;
  }

  .notes-h2 {
    margin: 0px 100px;
    margin-bottom: 34px;
    padding-top: 34px;
    padding-left: 34px;
    padding-right: 34px;
    font-size: 50px;
    font-family: 'Gambetta', serif;
    letter-spacing: -3px;
    font-variation-settings: "wght" 311;
    color: rgb(67, 76, 48);
    outline: none;
    text-align: left;
  }
    .addnotes-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    margin: 24px 100px;
    padding: 34px;
    gap: 24px;

  }

  .add-notes {
    background-color: rgba(24, 41, 15, 0.095);
    border-radius: 10px;
    font-size: 120px;
    height: 200px;
    border: none;
    outline: none;
    color: rgba(0, 0, 0, 0.402);
    transition: 0.1s ease-out;
  }

  .add-notes:hover {
    background: rgba(0, 0, 0, 0.17);
    font-variation-settings: "wght" 582; 
    font-size: 160px;
    transition: 0.2s ease-in;
  }

.note {
  height: 200px;
  box-sizing: border-box;
  padding: 16px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 7 rgba(0, 0, 0, 0.15);
  resize: none;
  font-family: sans-serif;
  font-size: 16px;
}

  