h1 {
  padding-top: 20px;
  text-align: center;
}

body {
  margin: 0px;
}

main {
  margin-left: 20px;
  margin-right: 20px;
}

.date {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 500px;
}

.dailyData {
  padding-top: 20px;
  padding-right: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}

.dailyData > div {
  margin-left: 90px; 
  align-items: center;
}

nav {
  margin-top: 40px;
}

.navbar ul{
  list-style-type: none;
  background-color: hsl(0, 0%, 29%);
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar a{
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}

.navbar a:hover{
  background-color: hsl(0, 0%, 10%);
  transition: background 0.4s;
}

.navbar li{
  float: left;
}

.search {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 
.addroom-container {
  background-color: aqua;
  background-size: auto;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.add-room {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px;
  border-radius: 10px;
  border-color: aqua;
}

.add-latecheckout {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px;
  border-radius: 10px;
  border-color: aqua;
}

.add-newstayover {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px;
  border-radius: 10px;
  border-color: aqua;
}

.add-noshow {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px;
  border-radius: 10px;
  border-color: aqua;
}


table {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    width: 100px;
    border: 0px solid #dddddd;
    text-align: center;
    padding: 4px;
  }

  th {
    background-color: rgba(5, 208, 208, 0.519);
  }
  tr {
    background-color: rgba(255, 255, 255, 0.479);
  }

  .noshows-main {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(135deg, #9affd8, #c296ff);
    background-size: cover;
    height: 100vh;
  }
    
  .noshows-h2 {
    margin-top: 0px;
    padding: 10px;
    font-size: 120px;
    font-family: 'Gambetta', serif;
    letter-spacing: -3px;
    font-variation-settings: "wght" 311;
    margin-bottom: 0.8rem;
    color: rgb(67, 76, 48);
    outline: none;
    text-align: center;
  }

  .addnoshow-container {
    margin: 0px;
    padding: 24x;
    gap: 24px;
  }
  
  #input-button {
    border: none;
  }

  button {
    border: none;
  }

  .notes-main {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(135deg, #bcff9a, #96c0ff);
    background-size: cover;
    height: 100vh;
  }

  .notes-h2 {
    margin-top: 0px;
    padding: 10px;
    font-size: 120px;
    font-family: 'Gambetta', serif;
    letter-spacing: -3px;
    font-variation-settings: "wght" 311;
    margin-bottom: 0.8rem;
    color: rgb(67, 76, 48);
    outline: none;
    text-align: center;
  }
    .addnotes-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    margin: 24px;
    padding: 24x;
    gap: 24px;

  }

  .add-notes {
    background-color: rgba(24, 41, 15, 0.095);
    border-radius: 10px;
    font-size: 120px;
    height: 200px;
    border: none;
    outline: none;
    color: rgba(0, 0, 0, 0.402);
    transition: background 0.2s;
  }

  .add-notes:hover {
    background: rgba(0, 0, 0, 0.17);
    font-variation-settings: "wght" 582; 
    font-size: 160px;
    transition: 400ms ease;
  }

.note {
  height: 200px;
  box-sizing: border-box;
  padding: 16px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 7 rgba(0, 0, 0, 0.15);
  resize: none;
  font-family: sans-serif;
  font-size: 16px;
}

  