h1 {
  padding-top: 20px;
  text-align: center;
}

body {
  margin: 0px;
}

main {
  margin-left: 20px;
  margin-right: 20px;
}

.date {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 500px;
}

.dailyData {
  padding-top: 20px;
  padding-right: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}

.dailyData > div {
  margin-left: 90px; 
  align-items: center;
}

nav {
  margin-top: 40px;
}

.navbar ul{
  list-style-type: none;
  background-color: hsl(0, 0%, 29%);
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar a{
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}

.navbar a:hover{
  background-color: hsl(0, 0%, 10%);
}

.navbar li{
  float: left;
}

.search {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 
.addroom-container {
  background-color: aqua;
  background-size: auto;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.add-room {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px;
  border-radius: 10px;
  border-color: aqua;
}

.add-latecheckout {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px;
  border-radius: 10px;
  border-color: aqua;
}

.add-newstayover {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px;
  border-radius: 10px;
  border-color: aqua;
}

.add-noshow {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px;
  border-radius: 10px;
  border-color: aqua;
}

.add-notes {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px;
  border-radius: 10px;
  border-color: aqua;
}

table {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    width: 100px;
    border: 1px solid #dddddd;
    text-align: center;
    padding: 4px;
  }

  th {
    background-color: rgb(5, 208, 208);
  }
  tr {
    background-color: antiquewhite;
  }